<div>
    <label for="todo">Enter todo: </label>
    <input type="text" name="todo" id="todo" required>
    </div>
    <div>
        <label for="description">Enter description: </label>
        <input type="text" name="description" id="description">
    </div>
    <div>
        <label for="dueDate">Enter due date: </label>
        <input type="date" name="dueDate" id="dueDate">
    </div>
    <div>
        <label for="priority">Choose a priority: </label>
        <select name="priority" id="priority">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Submit!">
    </div>